.vcard-qrcode-component {
  flex-direction: column;
  align-self: flex-start;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.vcard-qrcode-component .qrcode {
  justify-content: left;
}
.vcard-qrcode-component.show {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.vcard-qrcode-component .qrcode-wrapper {
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.vcard-qrcode-component .qrcode-wrapper .instructions {
  padding: 10px;
}
.vcard-qrcode-component .raw-data {
  margin-top: 5px;
}
.vcard-qrcode-component .raw-data pre {
  font-size: .8em;
  background-color: rgb(216, 216, 216);
  padding: 5px;
}

